.dataMap .TopUnit {
  width: 100%;
  height: 90px;
  margin-top: 30px;
  background: #ffffff;
  border-radius: 2px;
}
.dataMap .TopUnit > div {
  width: 16%;
  height: 70px;
  float: left;
  margin-top: 10px;
  border-right: 1px solid #e4e6eb;
  position: relative;
}
.dataMap .TopUnit > div:nth-child(1) {
  margin-left: 2%;
}
.dataMap .TopUnit > div:nth-child(6) {
  border-right: none;
}
.dataMap .TopUnit > div > div {
  width: 40px;
  height: 40px;
  position: absolute;
  background: #f6f8ff;
  left: 20px;
  top: 0;
}
.dataMap .TopUnit > div > div > i {
  width: 36px;
  height: 36px;
  display: block;
  margin: 2px auto;
}
.dataMap .TopUnit > div > p:nth-child(2) {
  width: auto;
  margin-left: 76px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
}
.dataMap .TopUnit > div > p:nth-child(2) .tipIcon {
  display: inline-block;
  cursor: pointer;
  width: 14px;
  height: 14px;
  background: url("tip.png") center no-repeat;
  background-size: 100% 100%;
}
.dataMap .TopUnit > div > p:nth-child(3) {
  width: auto;
  margin-left: 76px;
  height: 14px;
  line-height: 14px;
  font-size: 12px;
  margin-top: 14px;
  color: #666666;
}
.dataMap .TopUnit > div > p:nth-child(4) {
  width: auto;
  margin-left: 76px;
  height: 14px;
  line-height: 14px;
  margin-top: 3px;
  font-size: 12px;
  color: #666666;
}
.dataMap .TopUnit > div:nth-child(1) > div > i {
  background: url("tableIcon.png") center no-repeat;
  background-size: 100% 100%;
}
.dataMap .TopUnit > div:nth-child(2) > div > i {
  width: 32px;
  height: 32px;
  margin: 4px auto;
  background: url("quotaIcon.png") center no-repeat;
  background-size: 100% 100%;
}
.dataMap .TopUnit > div:nth-child(3) > div > i {
  background: url("labelIcon.png") center no-repeat;
  background-size: 100% 100%;
}
.dataMap .TopUnit > div:nth-child(4) > div > i {
  width: 32px;
  height: 32px;
  margin: 4px auto;
  background: url("apiIcon.png") center no-repeat;
  background-size: 100% 100%;
}
.dataMap .TopUnit > div:nth-child(5) > div > i {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background: url("busObjectIcon.png") center no-repeat;
  background-size: 100% 100%;
}
.dataMap .TopUnit > div:nth-child(6) > div > i {
  background: url("albumIcon.png") center no-repeat;
  background-size: 100% 100%;
}
