.sjjm {
  background: url("sjjm.png") center no-repeat;
  background-size: 100% 100%;
}
.sjjc {
  background: url("sjjc.png") center no-repeat;
  background-size: 100% 100%;
}
.sjkf {
  background: url("sjkf.png") center no-repeat;
  background-size: 100% 100%;
}
.zlzx {
  background: url("zlzx.png") center no-repeat;
  background-size: 100% 100%;
}
.ywzx {
  background: url("ywzx.png") center no-repeat;
  background-size: 100% 100%;
}
.zczx {
  background: url("zczx.png") center no-repeat;
  background-size: 100% 100%;
}
.apigl {
  background: url("apigl.png") center no-repeat;
  background-size: 100% 100%;
}
.qxzx {
  background: url("qxzx.png") center no-repeat;
  background-size: 100% 100%;
}
.aqzx {
  background: url("aqzx.png") center no-repeat;
  background-size: 100% 100%;
}
.zbxt {
  background: url("zbxt.png") center no-repeat;
  background-size: 100% 100%;
}

.fcsj {
  background: url("fcsj.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .fcsj {
  background: url("fcsjH.png") center no-repeat;
  background-size: 100% 100%;
}
.ztsj {
  background: url("ztsj.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .ztsj {
  background: url("ztsjH.png") center no-repeat;
  background-size: 100% 100%;
}
.sjb {
  background: url("sjb.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .sjb {
  background: url("sjbH.png") center no-repeat;
  background-size: 100% 100%;
}

.sjygl {
  background: url("sjygl.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .sjygl {
  background: url("sjyglH.png") center no-repeat;
  background-size: 100% 100%;
}
.sjtb {
  background: url("sjtb.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .sjtb {
  background: url("sjtbH.png") center no-repeat;
  background-size: 100% 100%;
}
.bddr {
  background: url("bddr.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .bddr {
  background: url("bddrH.png") center no-repeat;
  background-size: 100% 100%;
}
.rwgl {
  background: url("rwgl.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .rwgl {
  background: url("rwglH.png") center no-repeat;
  background-size: 100% 100%;
}

.lxkf {
  background: url("lxkf.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .lxkf {
  background: url("lxkfH.png") center no-repeat;
  background-size: 100% 100%;
}
.zzfx {
  background: url("zzfx.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .zzfx {
  background: url("zzfxH.png") center no-repeat;
  background-size: 100% 100%;
}
.hszx {
  background: url("hszx.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .hszx {
  background: url("hszxH.png") center no-repeat;
  background-size: 100% 100%;
}
.zldp {
  background: url("zldp.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .zldp {
  background: url("zldpH.png") center no-repeat;
  background-size: 100% 100%;
}
.gzmb {
  background: url("gzmb.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .gzmb {
  background: url("gzmbH.png") center no-repeat;
  background-size: 100% 100%;
}
.zljk {
  background: url("zljk.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .zljk {
  background: url("zljkH.png") center no-repeat;
  background-size: 100% 100%;
}
.xttc {
  background: url("xttc.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .xttc {
  background: url("xttcH.png") center no-repeat;
  background-size: 100% 100%;
}
.sjbd {
  background: url("sjbd.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .sjbd {
  background: url("sjbdH.png") center no-repeat;
  background-size: 100% 100%;
}

.yxrz {
  background: url("yxrz.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .yxrz {
  background: url("yxrzH.png") center no-repeat;
  background-size: 100% 100%;
}

.ywdp {
  background: url("ywdp.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .ywdp {
  background: url("ywdpH.png") center no-repeat;
  background-size: 100% 100%;
}
.slyw {
  background: url("slyw.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .slyw {
  background: url("slywH.png") center no-repeat;
  background-size: 100% 100%;
}
.ptgl {
  background: url("ptgl.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .ptgl {
  background: url("ptglH.png") center no-repeat;
  background-size: 100% 100%;
}

.sjdt {
  background: url("sjdt.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .sjdt {
  background: url("sjdtH.png") center no-repeat;
  background-size: 100% 100%;
}

.apijh {
  background: url("apijh.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .apijh {
  background: url("apijhH.png") center no-repeat;
  background-size: 100% 100%;
}
.apilb {
  background: url("apilb.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .apilb {
  background: url("apilbH.png") center no-repeat;
  background-size: 100% 100%;
}

.xmzgl {
  background: url("xmzgl.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .xmzgl {
  background: url("xmzglH.png") center no-repeat;
  background-size: 100% 100%;
}
.xmgl {
  background: url("xmgl.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .xmgl {
  background: url("xmglH.png") center no-repeat;
  background-size: 100% 100%;
}
.jsgl {
  background: url("jsgl.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .jsgl {
  background: url("jsglH.png") center no-repeat;
  background-size: 100% 100%;
}
.yhgl {
  background: url("yhgl.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .yhgl {
  background: url("yhglH.png") center no-repeat;
  background-size: 100% 100%;
}
.qxsq {
  background: url("qxsq.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .qxsq {
  background: url("qxsqH.png") center no-repeat;
  background-size: 100% 100%;
}
.spgl {
  background: url("spgl.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .spgl {
  background: url("spglH.png") center no-repeat;
  background-size: 100% 100%;
}

.sjaqdj {
  background: url("sjaqdj.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .sjaqdj {
  background: url("sjaqdjH.png") center no-repeat;
  background-size: 100% 100%;
}
.sjtm {
  background: url("sjtm.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .sjtm {
  background: url("sjtmH.png") center no-repeat;
  background-size: 100% 100%;
}
.tmgz {
  background: url("tmgz.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .tmgz {
  background: url("tmgzH.png") center no-repeat;
  background-size: 100% 100%;
}
.mglx {
  background: url("mglx.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .mglx {
  background: url("mglxH.png") center no-repeat;
  background-size: 100% 100%;
}
.czsj {
  background: url("czsj.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .czsj {
  background: url("czsjH.png") center no-repeat;
  background-size: 100% 100%;
}

.xsc {
  background: url("xsc.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .xsc {
  background: url("xscH.png") center no-repeat;
  background-size: 100% 100%;
}
.ysc {
  background: url("ysc.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .ysc {
  background: url("yscH.png") center no-repeat;
  background-size: 100% 100%;
}
.sjzq {
  background: url("sjzq.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .sjzq {
  background: url("sjzqH.png") center no-repeat;
  background-size: 100% 100%;
}
.zby {
  background: url("zby.png") center no-repeat;
  background-size: 100% 100%;
}
.el-menu-item.is-active .zby {
  background: url("zbyH.png") center no-repeat;
  background-size: 100% 100%;
}
